body {
    font-family: "Anaheim", sans-serif;
    background-color: #faf3e0; 
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    color: #333;
}

form {
    padding: 30px;
    margin: 50px auto;
    max-width: 900px;
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

h1 {
    font-size: 1.8em;
    text-align: center;
    text-transform: capitalize;
    color: #333;
}

fieldset {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 20px;
    border: 2px solid #ddd; 
}

.error {
    color: red;
    font-size: 0.9em;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #555;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    box-sizing: border-box; 
}

button {
    display: block;
    margin: 25px auto;
    padding: 12px 25px;
    font-size: 1.1em;
    background-color: #003366; 
    color: white;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007f7f; 
}

#output {
    margin: 40px;  
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#container {
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column; 
}
